.issueContainer {
  display: flex;
  flex-direction: row;
}

.issueGroup {
  min-width: 30%;
}

.addButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.statusLabel {
  background-color: #dfede7;
}

.statusText {
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
